nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#content {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

img {
    height: 500px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mains, .beverages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin-left: 30px;
}

.main-item, .beverage-item {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 5px;
    top: 25px;
}